node_modules/*
!.env.template
userDataDir/*
userData/*
src/userData
msg_room_sample.json
msg_room_sample_convo.json
dump
src/state/*
userDataSimone
userDataMax
dist/
._*
sessions/

dev_executable*.ts





